@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(31, 29, 29);
    color: rgb(216, 196, 196);
    font-weight: 600;
    z-index: 4;
  }

  .title {
    margin-left: 150px;
    background: red;

  }

  h4 {
    color: white;
    font-size: 35px;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
  }

  .right {
    margin-left: 600px;
  }

  .right1 {
    float: left;
    margin-left: 20px;
  }


  a {
    text-align: left;
    float: left;
  }

  a,
  a:visited,
  a:hover {
    color: rgb(253, 253, 253);
    text-decoration: none;
    margin-right: 12px;
  }

  a:hover {
    color: rgb(8, 192, 8);
    text-decoration: none;
  }