@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

$background : rgb(14, 13, 13);
$text-color : rgb(241, 232, 232);
$wrapper-background :#2c2b2b;

@mixin image-style {
    img {
        margin-top: 10px;
        width: 150px;
        height: 200px;
    }

    img:hover {
        margin-top: 0px;
        transition: 0.3s all;
    }
}

@mixin text {
    p {
        margin: 0;
    }


    .name {
        font-weight: bold;
    }


    .year {
        font-size: 14px;
    }
}