<div class="movie-list">
  <div class="movie" *ngFor="let movie of movies">
    <div class="link" routerLink="/movie/{{movie.imdbID}}">
      <img class="image" [src]="movie.Poster" alt="">
      <p class="name">{{movie.Title | slice:0:10 | uppercase}}</p>
      <p class="year">{{movie.Year| slice:0:4}}</p>
        <button (click)="addtoWishList($event,movie)" class="btn btn-danger">+</button>
    </div>
  </div>
</div>
<div>
  <button [disabled]="pageNo === 1" (click)="paginate(-1)" class="btn btn-success">PREVIOUS</button>
  <button [disabled]="pageNo === 100" (click)="paginate(1)" class="btn btn-success">NEXT</button>
</div>
