@import 'src/app/mixins/mixins.scss';

* {
    background: $background;
}

.movie-list {
    margin: 0;
    color: $text-color;
    padding-left: 50px;
   
    .movie {
        margin: 50px;
        display: inline-flex;

        .link {
            cursor: pointer;
            position: relative;
            @include image-style;
            @include text;

            button {
                position: absolute;
                bottom: 0;
                right: 0;
                border: black;
            }

        }

    }
}